# Pandas - SF Salaries

Pandas Practicing 

There will be usage of the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle!

#### Importing libraries

In [1]:
import numpy as np
import pandas as pd

#### Reading Salaries.csv as a dataframe called sal.

In [3]:
sal = pd.read_csv('sf-salaries/Salaries.csv')

/Users/pantelistzamalis/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

#### Checking the head of the DataFrame

In [4]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

#### Using the .info() method to find out how many entries there are

In [5]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148049 non-null object
OvertimePay         148654 non-null object
OtherPay            148654 non-null object
Benefits            112495 non-null object
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              38119 non-null object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

#### What is the average BasePay?

In [6]:
sal.loc[sal['BasePay'] == 'Not Provided', 'BasePay'] = np.nan  # replace String with NaN

In [7]:
sal['BasePay'].dropna()  # drop NaN values

0          167411
1          155966
2          212739
3           77916
4          134402
5          118602
6           92492
7          256577
8          176933
9          285262
10         194999
11          99722
12         294580
13         271329
14         174873
15         198778
16         268605
17         140547
18         168693
19         257511
20         257510
21         257510
22         140547
23         168693
24         140547
25         256470
26        92080.8
27         168693
28         261718
29         246226
           ...
148620      15.50
148621       0.00
148622       0.00
148623       0.00
148624       0.00
148625       0.00
148626       0.00
148627       0.00
148628       0.00
148629       0.00
148630       0.00
148631       0.00
148632       0.00
148633       0.00
148634       0.00
148635       0.00
148636       0.00
148637       0.00
148638       0.00
148639       0.00
148640       0.00
148641       0.00
148642       0.00
148643       0.00
148644       0.00
148645       0.00
148647       0.00
148648       0.00
148649       0.00
148653       0.00
Name: BasePay, Length: 148045, dtype: object

In [8]:
sal['BasePay'] = pd.to_numeric(sal['BasePay'])  # make all values in column Numeric (floats)

In [9]:
# print(type(sal.iloc[0]['BasePay']))

In [10]:
sal['BasePay'].mean()

66325.44884050643

#### What is the highest amount of OvertimePay in the dataset?

In [11]:
sal.loc[sal['OvertimePay'] == 'Not Provided', 'OvertimePay'] = np.nan

In [12]:
sal['OvertimePay'].dropna()

0               0
1          245132
2          106088
3         56120.7
4            9737
5            8601
6         89062.9
7               0
8         86362.7
9               0
10        71344.9
11        87082.6
12              0
13              0
14        74050.3
15        73478.2
16              0
17         119397
18        69626.1
19         880.16
20              0
21         377.21
22        93200.6
23        77896.1
24        97868.8
25              0
26          40008
27        80706.9
28              0
29              0
           ...
148620       0.00
148621       0.00
148622       0.00
148623       0.00
148624       0.00
148625       0.00
148626       0.00
148627       0.00
148628       0.00
148629       0.00
148630       0.00
148631       0.00
148632       0.00
148633       0.00
148634       0.00
148635       0.00
148636       0.00
148637       0.00
148638       0.00
148639       0.00
148640       0.00
148641       0.00
148642       0.00
148643       0.00
148644       0.00
148645       0.00
148647       0.00
148648       0.00
148649       0.00
148653       0.00
Name: OvertimePay, Length: 148650, dtype: object

In [13]:
sal['OvertimePay'] = pd.to_numeric(sal['OvertimePay'])

In [14]:
sal['OvertimePay'].max()

245131.88

#### What is the job title of JOSEPH DRISCOLL? 

Note: Using all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).

In [15]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

#### How much does JOSEPH DRISCOLL make (including benefits)?

In [16]:
sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

#### What is the name of highest paid person (including benefits)?

In [17]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()][['EmployeeName', 'TotalPayBenefits']]

     EmployeeName  TotalPayBenefits
0  NATHANIEL FORD         567595.43

#### What is the name of highest paid person (including benefits)? (Second solution with idxmax())

Returning index of first occurrence of maximum over requested axis. NA/null values are excluded.

In [18]:
sal.loc[sal['TotalPayBenefits'].idxmax(), ['EmployeeName', 'TotalPayBenefits']]

EmployeeName        NATHANIEL FORD
TotalPayBenefits            567595
Name: 0, dtype: object

#### What is the name of highest paid person (including benefits)? (Third solution with argmax())

Index of first occurrence of maximum of values.

In [19]:
# print(sal.loc[sal['TotalPayBenefits'].argmax()])
sal.loc[sal['TotalPayBenefits'].argmax(), ['EmployeeName', 'TotalPayBenefits']]

EmployeeName        NATHANIEL FORD
TotalPayBenefits            567595
Name: 0, dtype: object

#### What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?

In [20]:
print(sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()][['EmployeeName', 'TotalPayBenefits']])

       EmployeeName  TotalPayBenefits
148653    Joe Lopez           -618.13

Similarly to the example above I can solve the problem with idxmin() and argmin()

#### What was the average (mean) BasePay of all employees per year? (2011-2014) ?

In [21]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

#### How many unique job titles are there?

In [22]:
sal['JobTitle'].nunique()

2159

Actual Job Titles:

In [23]:
sal['JobTitle'].unique()

array(['GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY',
       'CAPTAIN III (POLICE DEPARTMENT)',
       'WIRE ROPE CABLE MAINTENANCE MECHANIC', ..., 'Conversion',
       'Cashier 3', 'Not provided'], dtype=object)

#### What are the top 5 most common jobs?

In [24]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

#### How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)

In [25]:
(sal[sal['Year'] == 2013]['JobTitle'].value_counts() == 1).sum()

202

OR

In [26]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

202

#### How many people have the word Chief in their job title?

In [27]:
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [28]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

477

#### Is there a correlation between length of the Job Title string and Salary?

In [29]:
sal['title_len'] = sal['JobTitle'].apply(len)  # apply a new column for counting each row's job title length

In [30]:
sal['title_len'].corr(sal['TotalPayBenefits'])

-0.036878445932606675

OR

In [31]:
sal[['TotalPayBenefits', 'title_len']].corr()

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036878
title_len                -0.036878   1.000000